<!-- Seccion proyectos -->
<div class="container text-center">
   <div class="titulo-proyecto mb-5">
      <h1><u>Proyectos</u></h1>
   </div>
   <div class="row">
      <!-- Desarrollo Web -->
      <div class="columna col-12 col-md-4">
         <a href="https://www.google.com.ar" target="_blank"><img src="../assets/proyecto.jpg" class="img-fluid proyecto" alt="Proyecto"></a>
         <p class="texto-proyecto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet, odio eget fringilla scelerisque, sem purus fringilla mauris, nec ultricies nisl nisl sit amet dolor. </p>
      </div>
      <!-- Articulos -->
      <div class="columna col-12 col-md-4">
         <a href="https://www.google.com.ar" target="_blank"><img src="../assets/proyecto.jpg" class="img-fluid proyecto" alt="Proyecto"></a>
         <p class="texto-proyecto"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet, odio eget fringilla scelerisque, sem purus fringilla mauris, nec ultricies nisl nisl sit amet dolor. </p>
      </div>
      <!-- Estudiante -->
      <div class="columna col-12 col-md-4">
         <a href="https://www.google.com.ar" target="_blank"><img src="../assets/proyecto.jpg" class="img-fluid proyecto" alt="Proyecto"></a>
         <p class="texto-proyecto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet, odio eget fringilla scelerisque, sem purus fringilla mauris, nec ultricies nisl nisl sit amet dolor. </p>
      </div>
   </div>
</div>

