<!-- Seccion Educación -->
<section class="container-fluid align-items-center seccion-educacion">
      <div class="row justify-content-center contenedor-experiencia">
        <h1 class="titulo-educacion mt-5"><u>Educación</u></h1>
          <div class="col-lg-5">
            <ul>
                <li>
                  <h3>Secundaria Juan Díaz de Solís (Rosario, Santa Fe) </h3>
                  <h3>Argentina Programa #SéProgramar</h3>
                  <h3>Argentina Programa #YoProgramo</h3>
                </li>
            </ul>
        </div>
    </div>
</section>
