<nav class="navbar navbar-expand-lg bg-body-light">
   <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/AP.png" class="Logo_AP img-fluid" alt="Logo Argentina Programa"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex justify-content-center align-items-center ">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/franco.camusso" target="_blank"><i class="bi bi-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/franco_a_camusso/"><i class="bi bi-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/franco-camusso-936b97170/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/FrancoCamusso97" target="_blank"><i class="bi bi-github"></i></a>
        </li>       
          <button type="button" class="btn btn-outline-primary">Iniciar Sesión</button>
      </ul>
    </div>
  </div>
</nav>

    <!-- Sección hero -->
    <section class="Portada">
        <div class="img-portada">
            <img src="../assets/portada.svg" class="img-fluid" id="portada" alt="Imagen portada">
        </div>
    </section>