 <!-- Seccion experiencia -->
  <div class="container contenedor-neon justify-content-center mt-5">
    <div class="col-12">
       <h1 class="neon"> Bienvenidos a mi portafolio  </h1>
       <h1 class="neon">  ⮯ </h1>
    </div>
  </div>

   
<section class="container-fluid align-items-center seccion-laboral">
      <div class="row justify-content-center contenedor-experiencia">
        <h1 class="titulo-experiencia mt-5"><u>Experiencia Laboral</u></h1>
          <div class="col-lg-5">
            <ul>
                <li>
                  <h2>Operario en Celta Laf (6 meses)</h2> <p class="texto-empresa">Celta Laf - Fabrica de pinturas en polvo en la localidad de Pérez, Provincia de Santa Fe. </p> <hr>
                </li>
                <p class="texto-laboral">En esta área tenía las tareas de un operario de producción en una fábrica de pinturas, usando máquinas de molino para la línea final, donde después eran despachados en sus respectivas cajas.</p>
            </ul>
        </div>
    </div>
</section>
