<!-- Seccion habilidades duras y blandas -->
<hr>
<section class="seccion-habilidades">
   <div class="container">
      <div class="titulo-habilidades mt-5">
         <u>
            <h1>Habilidades Duras y Blandas</h1>
         </u>
         <br>
      </div>
      <h3>HTML</h3>
      <div class="progress mb-5 " >
         <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Success example" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><strong>70%</strong></div>
      </div>
      <h3>CSS</h3>
      <div class="progress mb-5">
         <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Info example" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><strong>60%</strong></div>
      </div>
      <h3>JavaScript</h3>
      <div class="progress mb-5">
         <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Warning example" style="width: 35%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><strong>35%</strong></div>
      </div>
      <h3>Angular</h3>
      <div class="progress mb-5">
         <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Danger example" style="width: 30%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><strong>30%</strong></div>
      </div>
   </div>
</section>
<hr>