 <!---acerca de mi -->
  <section class="seccion-acerca-de-mi seccion-oscura">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-12 col-lg-4  col-xl-4  col-xxl-4">
             <img src="../assets/foto-perfil-ap.png" alt="Nombre de foto de perfil" class="imagen-perfil img-fluid">
          </div>
          <div class="col-12 col-lg-4   col-xl-4  col-xxl-4">
            <p class="title-name">Franco Alberto Camusso</p>
              <p class="titulo-fst">Full Stack Developer JR</p>
          </div>
          <div class="col-12 col-lg-4   col-xl-4  col-xxl-4">
            <p class="acerca-de-mi"> <u>Acerca De Mí</u></p>
              <p class="texto-acerca">Hola, ¿cómo estás? espero que bien. Mi nombre es Franco Camusso, soy de la localidad de Rosario, Provincia de Santa Fe, Argentina, soy desarrollador junior Full Stack, me caracterizo por ser una persona tranquila, atenta, responsable y sobre todo autodidacta, cada día me esfuerzo para ser mejor, estudiar las tecnologías que se necesitan para poder crear sitios web responsive lo más rápido y funcionales posible.</p>
          </div>
        </div>
      </div>
  </section>
